<h3><u>Add new appointment</u></h3>
<br/>
<div class="form-group">
    <label for="Date">Date: </label>
    <input type="text" id="date" ng-model="appointment.date_time" class="form-control" placeholder="Date">
</div>
<!-- Look up patients. Dropdown with first name, last name, profile pic -->
<div class="form-group">
    <label>Patient: </label>
    <select class="form-control" ng-model="selectedPatient">
        <option ng-repeat="patient in patients" value="{{patient._id}}">{{patient.first_name}} {{patient.last_name}}</option>
    </select>
</div>

<div class="form-group">
    <label for="reason">Reason: </label>
    <input type="text" id="reason" ng-model="appointment.reason" class="form-control" placeholder="Reason">
</div>

<br/>
<button class="btn btn-primary" ng-click="addAppointment()">Add Appointment</button>
<br/>