<p>Thessaloniki, {{date | date:'dd-MM-yyyy'}}</p>
<h2>Greetings {{username}}!</h2>
<h3>Today's Appointments:</h3>
<table class="table table-hover">
  <thread>
      <tr>
          <th>Time</th>
          <th>Patient</th>
      </tr>
  </thread>
  <tbody>
      <tr ng-repeat="a in appointments" ng-click="showPatient(patient)">
          <td>{{a.time}}</td>
          <td><a href="#/patient/{{a.patientFirstName}}-{{a.patientLastName}}">{{a.patientFirstName}} {{a.patientLastName}}
              </a></td>
      </tr>
  </tbody>
</table>