<p>
Search: 
<input ng-model="query" />
</p>

<p>
  Order by:
  <select ng-model="orderProp">
      <option value="lastName">Alphabetical</option>
      <option value="age">Youngest</option>
  </select>
</p>
<table class="table table-hover">
  <thread>
      <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Phone number</th>
          <th></th>
      </tr>
  </thread>
  <tbody>
      <tr class="link" ng-repeat="patient in patients | filter:query | orderBy:orderProp" ng-click="showPatient(patient)">
          <td><a ng-click="updateSelectedPatient(patient)" href="#/patient/{{patient.first_name}}-{{patient.last_name}}">
              <img class="img-rounded" ng-src="{{patient.image_url}}" alt="{{patient.last_name}}" style="height:100px;width:100px"/>
              </a>
          </td>
          <td valign="middle"><a ng-click="updateSelectedPatient(patient)" href="#/patient/{{patient.first_name}}-{{patient.last_name}}">{{patient.first_name}} {{patient.last_name}}
              </a></td>
          <td valign="middle">{{patient.phone}}</td>
          <td><button class="btn btn-primary" ng-click="deletePatient(patient)">Delete</button></td>
      </tr>
  </tbody>
</table>